@use "../colors";
@use "../fonts";
/* MENU */

.menu {
  background-color: colors.$ash01;
  padding: 4px;
  border-radius: 6px;
}

.menu-item {
  display: flex;
  padding: 6px 12px;
  cursor: pointer;
  color: colors.$white-40;
  border-radius: 4px;
  transition: all ease-in-out .2s;
  &:hover,
  &.selected {
    background-color: colors.$white-12;
    color: colors.$white-80;
  }
}

.menu-item-title {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
}

.menu-icon-left {
  margin-right: 8px;
}

.menu-icon-right {
  margin-right: 8px;
}
