.tasklist {
    padding: 8px 0;
}

/* TASK ITEM */
.taskitem {
    .taskitem-container {
        display: flex;
        align-items: flex-start;
        padding: 16px;
    }

    .taskitem-content-wrapper {
        padding-left: 8px;
        width: 100%;
    }

    .taskitem-desc {
        @include fonts.body-reg;
        color: colors.$white-80;
    }

    .taskitem-details {
        padding-top: 4px;
        display: flex;
        align-items: center;
        span:not(:first-child) {
            margin-left: 8px;
        }
    }

    .time-and-date {
        display: flex;
        align-items: center;
        justify-content: center;
        @include fonts.small-reg;
        color: colors.$white-40;
        margin-right: 12px;
        .taskitem-date,
        .taskitem-time {
            margin-left: 8px;
        }
    }

    .taskitem-project {
        @include fonts.small-reg;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        .color-display{
            margin-left: -4px;
        }
        .project-desc{
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .more{
        color: colors.$white-40;
    }

    .more-content {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &.overdue {
        .time-and-date {
            color: colors.$error;
        }
    }

    &.completed {
        .taskitem-desc {
            text-decoration: line-through;
            color: colors.$white-40;
        }
        .checkbox.checked .circle {
            background-color: colors.$active-30;
            &::before,
            &::after {
                background-color: colors.$white-20;
            }
        }
        .time-and-date {
            color: colors.$white-20;
        }
        .more > .line-icon {
            color: colors.$white-12;
        }
    }

    &.completed,
    &.completed.overdue {
        .taskitem-date,
        .taskitem-time {
            color: colors.$white-20;
        }
    }
}
