@use "./colors";

@mixin button-focus {
    outline: solid 2px colors.$active;
    outline-offset: 2px;
}

@mixin basic-focus {
    outline: solid 2px colors.$active;
}

// @mixin no-focus {
//     &:focus {
//         outline: none;
//         outline-offset: 0;
//     }
// }
