@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
body {
  font-family: 'Space Mono', monospace;
}

:root {
  --c-light-gray: #f0f0f0;
  --c-black-60: rgba(0, 0, 0, 0.6);
  --c-black-30: rgba(0, 0, 0, 0.3);
  --c-black-12: rgba(0, 0, 0, 0.12);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--c-light-gray);
}

p {
  font-size: 16px;
  line-height: 24px;
}

div {
  box-sizing: border-box;
}

.taskboard{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: white;
}

/* Checkbox */

.checkbox .circle {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
}

.checkbox.checked .circle {
  background-color: black;
}

.checkbox.checked .circle::before {
  content: "";
  display: block;
  width: 9px;
  height: 2px;
  background-color:white;
  transform: translate(4px, 6px) rotate(-45deg);
}


.checkbox.checked .circle::after {
  content: "";
  display: block;
  width: 4px;
  height: 2px;
  background-color:white;
  transform: translate(2px, 5px) rotate(45deg);
}

.checkbox {
  padding: 4px;
}

/* TaskItem */

.taskitem {
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 12px 16px;
}

.taskitem .taskitem-content-wrapper {
  padding-left: 8px;
  width: 100%;
}

/* TaskList */

.tasklist {
  background-color: white;
  padding: 8px 0;
  min-width: 610px;
  max-width: calc(100vw - 96px);
}

.taskitem .taskitem-folder {
  background-color: var(--c-black-12);
  font-size: 12px;
  line-height: 14px;
  padding: 4px 5px;
  border-radius: 2px;
}

.taskitem .taskitem-date, .taskitem .taskitem-time {
  color: var(--c-black-60);
  font-size: 14px;
}

.taskitem-details {
  padding-top: 4px;
  display: flex;
}

.taskitem-details span:not(:first-child) {
  margin-left: 8px;
}

.icon-angle {
  width: 16px;
  height: 16px;
  /* background-color: violet; */
}

.icon-angle::before {
  content: "";
  display: block;
  background-color: black;
  width: 9px;
  height: 1px;
  transform: translate(0px, 7px) rotate(45deg);
}

.icon-angle::after{
  content: "";
  display: block;
  background-color: black;
  width: 9px;
  height: 1px;
  transform: translate(7px, 6px) rotate(-45deg);
}


.icon-more {
  width: 16px;
  height: 16px;
}

.icon-more::before, .icon-more::after, .icon-more .circle {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 3px;
  height: 3px;
  border-radius: 4px;
  background-color: black;
  border: 1px solid black;
}

.icon-more::before {
  transform: translateY(6px);
}

.icon-more::after {
  transform: translate(12px,0px);
}

.icon-more .circle {
  transform: translate(6px,3px);
}

.more {
  padding: 4px;
  position: relative;
}

.context-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
  position: absolute;
  top:0;
  border: 1px solid black;
  border-radius: 2px;
  z-index: 1;
}

.context-menu li {
  padding: 12px;
  display: block;
  min-width: 100px;
}

.context-menu li:hover {
  background-color: var(--c-black-12);
}

.context-menu.pos-left{
  left: 0;
}

.context-menu.pos-right{
  right: 0;
}


.context-menu.hidden {
  visibility: hidden;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-menu{
  position: absolute;
  top: 0;
  z-index: 1;
}

.dropdown-button {
  display: flex;
  border: 1px solid var(--c-black-30);
  padding: 4px 6px;
  border-radius: 2px;
}

.dropdown-button .dropdown-name {
  font-size: 12px;
  line-height: 14px;
}

.taskinput-options{
  display: flex;
  padding-left: 16px;
  padding-bottom: 12px;
}

.taskinput-options .dropdown:not(:last-child){
  margin-right: 8px;
}

.taskinput {
  border-bottom: 2px solid black;
  background-color: white;
}
.taskinput input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px 8px;
}

/* TASKNAV */

.tasknav{
  background-color: white;
  padding: 24px 8px;
}

.tasknav-item {
  padding: 8px 16px;
  cursor: pointer;
}

.tasknav-item.selected{
  font-size: bold;
}

.calendar{
  border: 1px solid black;
  border-radius: 2px;
  padding: 16px;
  background-color: white;
  min-width: 280px;
}

.calendar-weekdays{
  display: flex;
}

.calendar-days{
  display: flex;
  flex-wrap: wrap;
}
.calendar-cell, .calendar-weekdays div{
  width: calc(100% / 7);
  text-align: center;
  
}

.calendar-weekdays div{
  color: var(--c-black-12);
}

.calendar-cell{
  color: var(--c-black-30);
}

.calendar-cell.today {
  color: black;
  font-weight: bold;
}

.calendar-cell.this-month{
  color: black;
}

.calendar-cell.selected{
  background-color: black;
  color: white;
}

.calendar-controls{
  display: flex;
}

.calendar-controls .month-display{
  text-align: center;
  width: 100%;
}

.calendar-controls .month-back, .calendar-controls .month-further {
  cursor: pointer;
}

.button {
  background-color: black;
  display: inline-block;
  padding: 8px;
  min-width: 80px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
}

.calendar .button-containter{
  padding: 8px;
  display: flex;
}

.calendar .button-containter .button{
  width: 100%;
}

