@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import "LineIcons.css";

/* Default browser styles reset*/

* {
  margin: 0;
}

h1, h2, h3, h4, h6, h6 {
  font-size: inherit;
  font-weight: normal;
}

/* Box-sizing reset method*/

html, body, input, button, div {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Lists reset*/

ul {
  padding-left: 0;
}

ul>li {
  list-style: none;
}

/* Links style reset */

a {
  text-decoration: none;
}

/* Font family */

* {
  font-family: 'Space Mono', monospace;
}

/* COLORS */

:root {
  --c-light-gray: #f0f0f0;
  --c-black-60: rgba(0, 0, 0, 0.6);
  --c-black-30: rgba(0, 0, 0, 0.3);
  --c-black-12: rgba(0, 0, 0, 0.12);
  --c-black-08: rgba(0, 0, 0, 0.08);
  --c-black-04: rgba(0, 0, 0, 0.04);
}

.line-icon {
  display: block;
  position: relative;
}

.line-icon.icon-md {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}

.line-icon.icon-sm {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}



#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--c-light-gray);
}

p {
  font-size: 16px;
  line-height: 24px;
}

div {
  box-sizing: border-box;
}

.taskboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: white;
}

/* Checkbox */

.checkbox .circle {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
}

.checkbox.checked .circle {
  background-color: black;
}

.checkbox.checked .circle::before {
  content: "";
  display: block;
  width: 9px;
  height: 2px;
  background-color: white;
  transform: translate(4px, 6px) rotate(-45deg);
}

.checkbox.checked .circle::after {
  content: "";
  display: block;
  width: 4px;
  height: 2px;
  background-color: white;
  transform: translate(2px, 5px) rotate(45deg);
}

.checkbox {
  padding: 4px;
}

/* TASK ITEM */

.taskitem .taskitem-container {
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 12px 16px;
}

.taskitem .taskitem-content-wrapper {
  padding-left: 8px;
  width: 100%;
}

/* TaskList */

.tasklist {
  background-color: white;
  padding: 8px 0;
  min-width: 610px;
  max-width: calc(100vw - 96px);
}

.taskitem .taskitem-folder {
  background-color: var(--c-black-12);
  font-size: 12px;
  line-height: 14px;
  padding: 4px 5px;
  border-radius: 2px;
}

.taskitem .taskitem-date, .taskitem .taskitem-time {
  color: var(--c-black-60);
  font-size: 14px;
}

.taskitem-details {
  padding-top: 4px;
  display: flex;
}

.taskitem-details span:not(:first-child) {
  margin-left: 8px;
}

.icon-angle {
  width: 16px;
  height: 16px;
  /* background-color: violet; */
}

.icon-angle::before {
  content: "";
  display: block;
  background-color: black;
  width: 9px;
  height: 1px;
  transform: translate(0px, 7px) rotate(45deg);
}

.icon-angle::after {
  content: "";
  display: block;
  background-color: black;
  width: 9px;
  height: 1px;
  transform: translate(7px, 6px) rotate(-45deg);
}

.icon-more {
  width: 16px;
  height: 16px;
}

.icon-more::before, .icon-more::after, .icon-more .circle {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 3px;
  height: 3px;
  border-radius: 4px;
  background-color: black;
  border: 1px solid black;
}

.icon-more::before {
  transform: translateY(6px);
}

.icon-more::after {
  transform: translate(12px, 0px);
}

.icon-more .circle {
  transform: translate(6px, 3px);
}

.more {
  padding: 4px;
  position: relative;
}

.context-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
  position: absolute;
  top: 0;
  border: 1px solid black;
  border-radius: 2px;
  z-index: 1;
}

.context-menu li {
  padding: 12px;
  display: block;
  min-width: 100px;
}

.context-menu li:hover {
  background-color: var(--c-black-12);
}

.context-menu.pos-left {
  left: 0;
}

.context-menu.pos-right {
  right: 0;
}

.context-menu.hidden {
  visibility: hidden;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 0;
  z-index: 1;
}

.dropdown-button {
  display: flex;
  border: 1px solid var(--c-black-30);
  padding: 4px 6px;
  border-radius: 2px;
}

.dropdown-button .dropdown-name {
  font-size: 12px;
  line-height: 14px;
}

.taskinput-options {
  display: flex;
  padding-left: 16px;
  padding-bottom: 12px;
}

.taskinput-options .dropdown:not(:last-child) {
  margin-right: 8px;
}

.taskinput {
  background-color: white;
}

.taskinput input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px 8px;
}

/* TASKNAV */

.tasknav {
  background-color: white;
  padding: 24px 8px;
  min-width: 248px;
  border-right: 1px solid var(--c-black-12);
}

.tasknav-item {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  margin-bottom: 8px;
}

.tasknav-item .tasknav-desc {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.tasknav-item .tasknav-icon {
  width: 24px;
  height: 24px;
}

.tasknav-item .tasknav-icon:first-child {
  margin-right: 8px;
}

.tasknav-item .tasknav-icon:last-child {
  margin-left: 8px;
}

.tasknav-item.selected {
  font-size: bold;
}

.icon-today {
  font-size: 10px;
  text-align: center;
  font-family: "Space Mono", monospace !important;
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
}

.calendar {
  border-radius: 2px;
  padding: 16px;
  background-color: white;
  min-width: 280px;
}

.calendar-weekdays {
  display: flex;
}

.calendar-days {
  display: flex;
  flex-wrap: wrap;
}

.calendar-cell, .calendar-weekdays div {
  width: calc(100% / 7);
  text-align: center;
}

.calendar-weekdays div {
  color: var(--c-black-12);
}

.calendar-cell {
  color: var(--c-black-30);
  cursor: pointer;
}

.calendar-cell, .calendar-cell .select-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-cell .select-area {
  border-radius: 50%;
  height: 28px;
  width: 28px;
}

.calendar-cell.today {
  color: black;
  font-weight: bold;
}

.calendar-cell.this-month {
  color: black;
}

.calendar-cell:hover .select-area {
  background-color: var(--c-black-12);
}

.calendar-cell.selected .select-area {
  background-color: black;
  color: white;
}

.calendar-controls {
  display: flex;
}

.calendar-controls .month-display {
  text-align: center;
  width: 100%;
}

.calendar-controls .month-back, .calendar-controls .month-further {
  cursor: pointer;
}

.button {
  background-color: black;
  display: inline-block;
  padding: 8px 16px;
  min-width: 80px;
  color: white;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  border: 1px solid black;
  line-height: 24px;
  cursor: pointer;
}

.button[disabled] {
  background-color: var(--c-black-04);
  color: var(--c-black-30);
  cursor: default;
  border: 1px solid var(--c-black-12);
}

.button.outlined {
  background-color: transparent;
  border: 1px solid var(--c-black-30);
  color: black;
}

.calendar .button-containter {
  padding: 8px;
  display: flex;
}

.calendar .button-containter .button {
  width: 100%;
}

/* PICKERS */

.dt-picker .date-desc, .dt-picker .time-display, .project-picker .project-desc {
  font-size: 14px;
  line-height: 24px;
}

.dt-picker .date-display, .dt-picker .time-display, .project-picker .project-display {
  padding: 2px 8px;
  cursor: pointer;
}

.dt-picker .date-display:hover, .dt-picker .time-display:hover, .project-picker .project-display:hover {
  background-color: var(--c-black-12);
}

.dt-picker, .project-picker .project-display {
  border: 1px var(--c-black-30) solid;
  border-radius: 2px;
}

.dt-picker .date-display .line-icon, .project-picker .project-display .line-icon {
  margin-right: 4px;
}

.dt-picker .date-display, .project-picker .project-display {
  display: flex;
  align-items: center;
}

.dt-picker {
  display: flex;
}

.edittask .picker-container {
  display: flex;
  padding: 0 20px 16px;
}

.edittask .picker-container .dt-picker {
  margin-right: 8px;
}

.edittask .edit-fields {
  border: 1px solid var(--c-black-30);
  border-radius: 2px;
}

.edit-fields .taskinput {
  font-size: 16px;
  height: 24px;
  border: none;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px 24px;
}

.edittask .button-container {
  padding-top: 16px;
}

.edittask .button-container .button:not(:first-child) {
  margin-left: 12px;
}

.edittask {
  padding: 0 20px 24px;
  border-bottom: 1px solid var(--c-black-12);
}

.dt-picker .date-menu .button-container {
  padding: 8px 0;
  border-bottom: 1px solid var(--c-black-30);
}

.date-menu {
  border: 1px solid var(--c-black-30);
  border-radius: 2px;
}

/* HEADER */

.header {
  padding: 20px 20px 8px;
}

.header h1 {
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

.menu-item {
  display: flex;
  padding: 6px 12px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: var(--c-black-12);
}

.menu-item-title {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
}

.menu-item .line-icon {
  margin-right: 8px;
}

.refer {
  height: 100%;
}

.timepicker, .timepicker .input-container {
  display: flex;
  align-items: center;
}

.timepicker .input-container input {
  border: none;
  padding: 4px 8px;
  width: 100px;
}

.timepicker .time-display-button {
  padding: 2px 8px;
  color: var(--c-black-60);
  cursor: pointer;
}

.timepicker .time-display-button:hover {
  background-color: var(--c-black-12);
  color: black;
}

.timepicker .close-btn {
  cursor: pointer;
  padding: 6px;
  border-left: 1px solid var(--c-black-30);
  color: var(--c-black-60);
}

.timepicker .close-btn:hover {
  background-color: var(--c-black-12);
  color: black;
}

.timepicker {
  border-left: 1px var(--c-black-30) solid;
}

.dt-picker .placeholder {
  color: var(--c-black-60);
}

.date-container {
  position: relative;
}

.date-container .date-menu {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: white;
  z-index: 1;
}

/* Project picker */

.project-picker {
  position: relative;
}

.project-menu {
  border: 1px solid var(--c-black-30);
  border-radius: 2px;
  padding: 4px 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  min-width: 180px;
}

/* ADD TASK INPUT */

.addtaskinput .addtask-container {
  padding: 8px 20px;
}

.addtaskinput .addtask-display{
  border: 1px solid var(--c-black-30);
  border-radius: 2px;
  padding: 12px 20px;
  color: var(--c-black-30);
  line-height: 24px;
  font-size: 16px;
  cursor: text;
}

.addtaskinput .edittask {
  padding-top: 8px;
}