@use "../../sass-utils/colors";
@use "../../sass-utils/fonts";
.edittask {
    padding: 0 20px 24px;

    .addtaskinput & {
        padding-top: 8px;
    }

    .edit-fields {
        border-radius: 6px;
        background-color: colors.$prime02;
        border: 1px solid transparent;
        &.focused {
            border: 1px solid colors.$white-20;
        }
    }

    .taskinput {
        font-size: 16px;
        height: 24px;
        border: none;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        padding: 16px 20px 24px;
    }

    .picker-container {
        display: flex;
        padding: 0 20px 16px;
    }

    .picker-container .dt-picker {
        margin-right: 8px;
    }

    .button-container {
        padding-top: 16px;
        .button:not(:first-child) {
            margin-left: 12px;
        }
    }
}

.taskinput {
    background-color: transparent;
    color: colors.$white-80;
    width: 100%;
    display: block;
    box-sizing: border-box;
    @include fonts.body-reg;
    padding: 12px 16px 8px;
    &:focus {
        outline: none;
    }
}

.taskinput-options {
    display: flex;
    padding-left: 16px;
    padding-bottom: 12px;
}

.taskinput-options .dropdown:not(:last-child) {
    margin-right: 8px;
}

/*
.edit-fields .taskinput {
    font-size: 16px;
    height: 24px;
    border: none;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 20px 24px;
}
*/
