@use "../sass-utils/colors";
@use "../sass-utils/fonts";
@use "../sass-utils/scrollbar";
@use "../sass-utils/layout-vars";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
/* Font family */

* {
    font-family: "IBM Plex Sans", sans-serif;
}

h2 {
    @include fonts.h2;
    margin-bottom: 12px;
}

body {
    color: colors.$white-80;
}

/* BASIC LAYOUT */

.topnav {
    background-color: colors.$prime01;
    height: layout-vars.$topNavHeight;
}

.taskboard {
    display: flex;
    flex-direction: column;
    background: white;
    height: 100%;
}

.taskboard-header {
    z-index: 3;
}

.taskboard-container {
    height: calc(100% - layout-vars.$topNavHeight - layout-vars.$developerBarHeight);

    .taskboard-sidenav {
        width: layout-vars.$sideNavWidth;
        overflow-y: scroll;
        @include scrollbar.handsome(colors.$prime02, colors.$white-12);
        position: fixed;
        z-index: 1;
        height: calc(100% - layout-vars.$topNavHeight - layout-vars.$developerBarHeight);
        left: 0;
        transition: left ease-in-out 0.2s;
    }

    .taskboard-display {
        height: 100%;
        overflow-y: scroll;
        background-color: colors.$prime03;
        @include scrollbar.handsome(colors.$prime03, colors.$white-12);
        margin-left: layout-vars.$sideNavWidth;
        transition: margin-left ease-in-out 0.2s;
        .taskboard-display-container {
            margin: 0 auto;
            max-width: 800px;
            padding: 0 24px;
        }
    }

    &.sidenav-is-hidden {
        .taskboard-sidenav {
            left: - layout-vars.$sideNavWidth;
        }
        .taskboard-display {
            margin-left: 0;
        }
    }

    &.small-screen {
        .taskboard-display {
            margin-left: 0;
        }
        .taskboard-sidenav {
            height: calc(100% - layout-vars.$topNavHeight);
        }
    }
}
