@use "../../sass-utils/colors";
/* ADD TASK INPUT */

.addtaskinput {
    .addtask-container {
        padding: 8px 20px;
    }

    .addtask-display {
        background-color: colors.$prime02;
        border-radius: 6px;
        padding: 12px 20px;
        color: colors.$white-40;
        line-height: 24px;
        font-size: 16px;
        cursor: text;
    }
}