/* COLORS */
/* Font styles */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
/* Font styles */
/* COLORS */
/* Font family */
* {
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px;
}

body {
  color: rgba(255, 255, 255, 0.8);
}

/* BASIC LAYOUT */
.topnav {
  background-color: #080808;
  height: 44px;
}

.taskboard {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
}

.taskboard-header {
  z-index: 3;
}

.taskboard-container {
  height: calc(100% - 44px - 36px);
}
.taskboard-container .taskboard-sidenav {
  width: 300px;
  overflow-y: scroll;
  position: fixed;
  z-index: 1;
  height: calc(100% - 44px - 36px);
  left: 0;
  transition: left ease-in-out 0.2s;
}
.taskboard-container .taskboard-sidenav::-webkit-scrollbar {
  width: 4px;
}
.taskboard-container .taskboard-sidenav::-webkit-scrollbar-track {
  background-color: #202020;
}
.taskboard-container .taskboard-sidenav::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 8px;
}
.taskboard-container .taskboard-display {
  height: 100%;
  overflow-y: scroll;
  background-color: #292929;
  margin-left: 300px;
  transition: margin-left ease-in-out 0.2s;
}
.taskboard-container .taskboard-display::-webkit-scrollbar {
  width: 4px;
}
.taskboard-container .taskboard-display::-webkit-scrollbar-track {
  background-color: #292929;
}
.taskboard-container .taskboard-display::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 8px;
}
.taskboard-container .taskboard-display .taskboard-display-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 24px;
}
.taskboard-container.sidenav-is-hidden .taskboard-sidenav {
  left: -300px;
}
.taskboard-container.sidenav-is-hidden .taskboard-display {
  margin-left: 0;
}
.taskboard-container.small-screen .taskboard-display {
  margin-left: 0;
}
.taskboard-container.small-screen .taskboard-sidenav {
  height: calc(100% - 44px);
}

/* Default browser styles reset*/
* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h6,
h6 {
  font-size: inherit;
  font-weight: bold;
}

/* Box-sizing reset method*/
html,
body,
input,
button,
div {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Lists reset*/
ul {
  padding-left: 0;
}

ul > li {
  list-style: none;
}

/* Links style reset */
a {
  text-decoration: none;
}

/* Set divs to have border-box */
div {
  box-sizing: border-box;
}

@font-face {
  font-family: "lineicons";
  src: url("../fonts/lineicons.eot?b6kygt");
  src: url("../fonts/lineicons.eot?b6kygt#iefix") format("embedded-opentype"), url("../fonts/lineicons.ttf?b6kygt") format("truetype"), url("../fonts/lineicons.woff?b6kygt") format("woff"), url("../fonts/lineicons.svg?b6kygt#lineicons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "lineicons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-AngleDown-md:before {
  content: "\e900";
}

.icon-AngleLeft-md:before {
  content: "\e901";
}

.icon-AngleRight-md:before {
  content: "\e902";
}

.icon-AngleUp-md:before {
  content: "\e903";
}

.icon-Calendar-md:before {
  content: "\e904";
}

.icon-Check-md:before {
  content: "\e905";
}

.icon-Checkbox-md:before {
  content: "\e906";
}

.icon-Clock-md:before {
  content: "\e907";
}

.icon-Close-md:before {
  content: "\e908";
}

.icon-Delete-md:before {
  content: "\e909";
}

.icon-Edit-md:before {
  content: "\e90a";
}

.icon-EyeOff-md:before {
  content: "\e90b";
}

.icon-EyeOn-md:before {
  content: "\e90c";
}

.icon-Folder-md:before {
  content: "\e90d";
}

.icon-GitHub-md:before {
  content: "\e90e";
}

.icon-Inbox-md:before {
  content: "\e90f";
}

.icon-LinkedIn-md:before {
  content: "\e910";
}

.icon-More-md:before {
  content: "\e911";
}

.icon-Nav-md:before {
  content: "\e912";
}

.icon-No-md:before {
  content: "\e913";
}

.icon-Plus-md:before {
  content: "\e914";
}

.icon-Today-md:before {
  content: "\e915";
}

.icon-Tomorrow-md:before {
  content: "\e916";
}

.icon-Twitter-md:before {
  content: "\e917";
}

.icon-AngleDown-sm:before {
  content: "\e918";
}

.icon-AngleLeft-sm:before {
  content: "\e919";
}

.icon-AngleRight-sm:before {
  content: "\e91a";
}

.icon-AngleUp-sm:before {
  content: "\e91b";
}

.icon-Check-sm:before {
  content: "\e91c";
}

.icon-Checkbox-sm:before {
  content: "\e91d";
}

.icon-Close-sm:before {
  content: "\e91e";
}

.icon-Delete-sm:before {
  content: "\e91f";
}

.icon-Folder-sm:before {
  content: "\e920";
}

.icon-GitHub-sm:before {
  content: "\e921";
}

.icon-Inbox-sm:before {
  content: "\e922";
}

.icon-LinkedIn-sm:before {
  content: "\e923";
}

.icon-No-sm:before {
  content: "\e924";
}

.icon-Today-sm:before {
  content: "\e925";
}

.icon-Twitter-sm:before {
  content: "\e926";
}

/* COLORS */
/* Font styles */
/* SIDENAV */
.sidenav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #202020;
  min-height: 100%;
}
.sidenav .divider {
  height: 1px;
  width: calc(100% - 16px);
  background-color: rgba(255, 255, 255, 0.12);
  margin: 16px 0;
}

.sidenav-item {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 12px;
  color: rgba(255, 255, 255, 0.4);
  transition: all ease-in-out 0.2s;
}
.sidenav-item:hover, .sidenav-item.selected, .sidenav-item.more-is-open {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
}
.sidenav-item .sidenav-desc {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  line-height: 28px;
}
.sidenav-item .sidenav-icon {
  width: 24px;
  height: 24px;
}
.sidenav-item .sidenav-icon:first-child {
  margin-right: 12px;
}
.sidenav-item .sidenav-icon:last-child {
  margin-left: 8px;
}
.sidenav-item .color-display {
  margin-right: 12px;
}
.sidenav-item .more {
  padding: 0;
  position: relative;
}
.sidenav-item .more .more-content {
  position: absolute;
  top: 0;
  right: 0;
}

.sidenav-count {
  font-size: 12px;
  line-height: 20px;
  padding-right: 8px;
  color: rgba(255, 255, 255, 0.4);
}

.new-project-btn {
  color: #9b51e0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.new-project-btn .line-icon {
  margin-right: 12px;
}
.new-project-btn .desc {
  font-size: 16px;
  line-height: 28px;
  width: 100%;
}
.new-project-btn:hover {
  background-color: #080808;
}

/* COLORS */
/* Font styles */
.tasklist {
  padding: 8px 0;
}

/* TASK ITEM */
.taskitem .taskitem-container {
  display: flex;
  align-items: flex-start;
  padding: 16px;
}
.taskitem .taskitem-container:focus {
  outline: solid 2px #9b51e0;
}
.taskitem .taskitem-content-wrapper {
  padding-left: 8px;
  width: 100%;
}
.taskitem .taskitem-desc {
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}
.taskitem .taskitem-details {
  padding-top: 4px;
  display: flex;
  align-items: center;
}
.taskitem .taskitem-details span:not(:first-child) {
  margin-left: 8px;
}
.taskitem .time-and-date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 12px;
}
.taskitem .time-and-date .taskitem-date,
.taskitem .time-and-date .taskitem-time {
  margin-left: 8px;
}
.taskitem .taskitem-project {
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
}
.taskitem .taskitem-project .color-display {
  margin-left: -4px;
}
.taskitem .taskitem-project .project-desc {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.taskitem .more {
  color: rgba(255, 255, 255, 0.4);
}
.taskitem .more-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.taskitem.overdue .time-and-date {
  color: #eb5757;
}
.taskitem.completed .taskitem-desc {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.4);
}
.taskitem.completed .checkbox.checked .circle {
  background-color: rgba(155, 81, 224, 0.3);
}
.taskitem.completed .checkbox.checked .circle::before, .taskitem.completed .checkbox.checked .circle::after {
  background-color: rgba(255, 255, 255, 0.2);
}
.taskitem.completed .time-and-date {
  color: rgba(255, 255, 255, 0.2);
}
.taskitem.completed .more > .line-icon {
  color: rgba(255, 255, 255, 0.12);
}
.taskitem.completed .taskitem-date,
.taskitem.completed .taskitem-time, .taskitem.completed.overdue .taskitem-date,
.taskitem.completed.overdue .taskitem-time {
  color: rgba(255, 255, 255, 0.2);
}

/* COLORS */
/* ADD TASK INPUT */
.addtaskinput .addtask-container {
  padding: 8px 20px;
}
.addtaskinput .addtask-display {
  background-color: #202020;
  border-radius: 6px;
  padding: 12px 20px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 24px;
  font-size: 16px;
  cursor: text;
}

/* COLORS */
/* Font styles */
.edittask {
  padding: 0 20px 24px;
}
.addtaskinput .edittask {
  padding-top: 8px;
}
.edittask .edit-fields {
  border-radius: 6px;
  background-color: #202020;
  border: 1px solid transparent;
}
.edittask .edit-fields.focused {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.edittask .taskinput {
  font-size: 16px;
  height: 24px;
  border: none;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px 24px;
}
.edittask .picker-container {
  display: flex;
  padding: 0 20px 16px;
}
.edittask .picker-container .dt-picker {
  margin-right: 8px;
}
.edittask .button-container {
  padding-top: 16px;
}
.edittask .button-container .button:not(:first-child) {
  margin-left: 12px;
}

.taskinput {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 28px;
  padding: 12px 16px 8px;
}
.taskinput:focus {
  outline: none;
}

.taskinput-options {
  display: flex;
  padding-left: 16px;
  padding-bottom: 12px;
}

.taskinput-options .dropdown:not(:last-child) {
  margin-right: 8px;
}

/*
.edit-fields .taskinput {
    font-size: 16px;
    height: 24px;
    border: none;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 20px 24px;
}
*/
/* COLORS */
/* Font styles */
/* PICKERS */
.dt-picker {
  display: flex;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 6px;
  flex-shrink: 0;
}
.dt-picker:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.dt-picker .placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.dt-picker .date-desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 24px;
}
.dt-picker .date-display {
  display: flex;
  align-items: center;
  padding: 3px 8px;
  cursor: pointer;
}
.dt-picker .date-display .line-icon {
  margin-right: 4px;
  color: rgba(255, 255, 255, 0.8);
}
.dt-picker .button-group {
  padding: 8px 16px;
  display: flex;
}
.dt-picker .button-group .button {
  width: 100%;
}
.dt-picker .button-group .button:last-child {
  margin-left: 8px;
}

.date-container {
  position: relative;
}
.date-container .date-menu {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: #080808;
  z-index: 1;
  border-radius: 6px;
}
.date-container .date-menu .button-container {
  padding: 4px 4px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

/* TIMEINPUT */
.timeinput {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}
.timeinput .line-icon {
  color: rgba(255, 255, 255, 0.4);
}
.timeinput input {
  margin-left: 12px;
  display: block;
  width: 100%;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 28px;
  padding: 4px 12px;
  transition: all ease-in-out 0.2s;
  color: rgba(255, 255, 255, 0.8);
  outline: 1px solid transparent;
}
.timeinput input:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.timeinput input:focus {
  outline: 1px solid #9b51e0;
}

/* COLOR DISPLAY */
.color-display {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  flex-shrink: 0;
}
.color-display .color-spot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.12);
}
.color-display.sm {
  width: 16px;
  height: 16px;
}
.color-display.sm .color-spot {
  width: 8px;
  height: 8px;
}

.select-display-color {
  display: flex;
  align-items: center;
  width: 100%;
}

.select-display-color-name {
  width: 100%;
}

/* COLORS */
/* Font styles */
/* HEADER */
.header {
  padding: 20px 20px 8px;
  display: flex;
}
.header h1 {
  display: inline;
  color: rgba(255, 255, 255, 0.8);
}
.header span {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 8px;
}
.header .more {
  position: relative;
}
.header .more .more-icon {
  color: rgba(255, 255, 255, 0.4);
}
.header .more .more-content {
  position: absolute;
  top: 0;
  right: 0;
}

.header-text-group {
  width: 100%;
}

/* COLORS */
/* CHECKBOX */
.checkbox {
  padding: 4px;
}
.checkbox .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.12);
}
.checkbox .circle::before {
  content: "";
  display: block;
  width: 9px;
  height: 2px;
  background-color: transparent;
  transform: translate(7px, 9px) rotate(-45deg);
}
.checkbox .circle::after {
  content: "";
  display: block;
  width: 4px;
  height: 2px;
  background-color: transparent;
  transform: translate(5px, 8px) rotate(45deg);
}
.checkbox:hover .circle {
  background-color: rgba(255, 255, 255, 0.2);
}
.checkbox:hover .circle::before, .checkbox:hover .circle::after {
  background-color: rgba(255, 255, 255, 0.2);
}
.checkbox.checked .circle {
  background-color: #9b51e0;
}
.checkbox.checked .circle::before, .checkbox.checked .circle::after {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Font styles */
/* COLORS */
/* ACCORDION */
.accordion .accordion-header {
  padding: 12px 16px;
  display: flex;
}

.accordion-icon-container {
  cursor: pointer;
  padding: 4px;
  color: rgba(255, 255, 255, 0.4);
}

.accordion-title,
.accordion-count {
  cursor: default;
}

.accordion-title {
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 8px;
}

.accordion-count {
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.4);
  padding-left: 8px;
}

.accordion-content {
  width: 100%;
}

/* COLORS */
/* Font styles */
.button {
  background-color: #9b51e0;
  display: inline-block;
  padding: 8px 16px;
  min-width: 80px;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  border: 1px solid transparent;
  line-height: 24px;
  cursor: pointer;
}
.button[disabled], .button.disabled {
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.12);
  cursor: default;
  border: 1px solid rgba(255, 255, 255, 0.04);
}
.button:focus {
  outline: solid 2px #9b51e0;
  outline-offset: 2px;
}
.button.outlined {
  background-color: transparent;
  border: 1px solid #9b51e0;
  color: #9b51e0;
}
.button.transparent {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
}
.button.transparent:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* COLORS */
/* Hrefless link */
button.hrefless-link,
button.hrefless-link:active {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-size: 16px;
  /*input has OS specific font-family*/
  cursor: pointer;
  color: #9b51e0;
  text-align: left;
}

button.hrefless-link:focus {
  outline: solid 2px #9b51e0;
  outline-offset: 2px;
  border-radius: 2px;
}

/* COLORS */
.calendar {
  border-radius: 2px;
  padding: 16px;
  min-width: 280px;
}
.calendar .button-containter {
  padding: 8px;
  display: flex;
}
.calendar .button-containter .button {
  width: 100%;
}

.calendar-weekdays {
  display: flex;
}

.calendar-days {
  display: flex;
  flex-wrap: wrap;
}

.calendar-cell,
.calendar-weekdays div {
  width: 14.2857142857%;
  text-align: center;
}

.calendar-weekdays div {
  color: rgba(255, 255, 255, 0.4);
}

.calendar-cell {
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.calendar-cell, .calendar-cell .select-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-cell .select-area {
  border-radius: 50%;
  height: 28px;
  width: 28px;
}
.calendar-cell.today .select-area {
  color: #9b51e0;
  font-weight: bold;
}
.calendar-cell.this-month {
  color: rgba(255, 255, 255, 0.8);
}
.calendar-cell:hover .select-area {
  background-color: rgba(255, 255, 255, 0.12);
}
.calendar-cell.selected .select-area {
  background-color: #9b51e0;
  color: rgba(255, 255, 255, 0.8);
}

.calendar-controls {
  display: flex;
}
.calendar-controls .month-display {
  text-align: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
}
.calendar-controls .month-back,
.calendar-controls .month-further {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
}

/* COLORS */
/* Font styles */
/* MENU */
.menu {
  background-color: #080808;
  padding: 4px;
  border-radius: 6px;
}

.menu-item {
  display: flex;
  padding: 6px 12px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
}
.menu-item:hover, .menu-item.selected {
  background-color: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.8);
}

.menu-item-title {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
}

.menu-icon-left {
  margin-right: 8px;
}

.menu-icon-right {
  margin-right: 8px;
}

/* COLORS */
/* Font styles */
/* Project picker */
.project-picker {
  position: relative;
  min-width: 0;
}
.project-picker .project-desc {
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.project-picker .project-display {
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}
.project-picker .project-display {
  padding: 3px 8px;
  cursor: pointer;
}
.project-picker .project-display:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.project-picker .project-display .line-icon {
  margin-right: 4px;
}
.project-picker .project-display {
  display: flex;
  align-items: center;
}

.project-menu {
  max-width: 140px;
  border-radius: 6px;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #080808;
  min-width: 180px;
}
.project-menu .menu-item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* COLORS */
/* Font styles */
/* MODAL */
.modal {
  background-color: #292929;
  padding: 24px;
  border-radius: 6px;
  width: 100%;
  max-width: 420px;
}

.modal-button-group {
  padding-top: 24px;
  display: flex;
  justify-content: flex-end;
}
.modal-button-group .button:not(:first-child) {
  margin-left: 12px;
}

/* COLORS */
.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.overlay.loading-screen-overlay {
  background-color: #202020;
  z-index: 5;
}

/* COLORS */
/* Font styles */
/* INPUT */
/* SELECT */
.input-field label,
.select-label {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 8px;
}

.input-field input,
.select-display {
  display: block;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
  outline: 1px solid transparent;
}
.input-field input::placeholder,
.select-display::placeholder {
  color: rgba(255, 255, 255, 0.12);
}
.input-field input:hover,
.select-display:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);
}
.input-field input:focus,
.select-display:focus {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);
  outline: 1px solid #9b51e0;
}

.input-field label,
.input-field input,
.select-label,
.select-display {
  font-size: 16px;
  line-height: 28px;
}

.select-display {
  display: flex;
  cursor: pointer;
}

.select {
  margin-top: 24px;
  color: black;
}

.select-field {
  position: relative;
}

.select-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.select-display-color .color-display {
  width: 24px;
  height: 18px;
}

.password-input-field .input-container {
  position: relative;
}
.password-input-field .input-container label[for=password-strength] {
  display: none;
}
.password-input-field .input-container .show-password-btn {
  position: absolute;
  padding: 4px;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.2);
  background-color: transparent;
  right: 6px;
  top: 6px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.password-input-field .input-container .show-password-btn:hover {
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.4);
}
.password-input-field .input-container input {
  border-radius: 6px 6px 0 0;
}
.password-input-field .input-container meter {
  width: 100%;
  height: 3px;
  border-radius: 0;
  display: block;
  border: none;
}
.password-input-field .input-container meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(255, 255, 255, 0.12);
  border: none;
  border-radius: 0;
  height: 3px;
}
.password-input-field .input-container meter::-webkit-meter-optimum-value {
  transition: all ease-in-out 0.2s;
}
.password-input-field .input-container meter[value="1"]::-webkit-meter-optimum-value {
  background-color: #eb5757;
}
.password-input-field .input-container meter[value="2"]::-webkit-meter-optimum-value {
  background-color: #f97c1c;
}
.password-input-field .input-container meter[value="3"]::-webkit-meter-optimum-value {
  background-color: #E8B70E;
}
.password-input-field .input-container meter[value="4"]::-webkit-meter-optimum-value {
  background-color: #0DAD70;
}
.password-input-field .input-container .hint {
  padding-top: 12px;
  color: rgba(255, 255, 255, 0.4);
  flex-direction: column;
  font-size: 14px;
  line-height: 24px;
}
.password-input-field .input-container .hint .title {
  display: flex;
}
.password-input-field .input-container .hint .icon-container.score-0, .password-input-field .input-container .hint .icon-container.score-1, .password-input-field .input-container .hint .icon-container.score-2 {
  color: #eb5757;
}
.password-input-field .input-container .hint .icon-container.score-3, .password-input-field .input-container .hint .icon-container.score-4 {
  color: #0DAD70;
}

/* COLORS */
/* Font styles */
/* AUTHENTICATION */
.authentication {
  width: 360px;
  padding: 24px;
  background-color: #292929;
  border-radius: 8px;
}
.authentication .logo-container {
  margin: 0 auto 12px;
  padding: 4px;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  background-color: rgba(0, 0, 0, 0.3);
}
.authentication .logo-container svg {
  display: block;
  width: 100%;
  height: 100%;
}
.authentication .input-field:first-child {
  margin-bottom: 8px;
}
.authentication .hint {
  margin-bottom: 16px;
  display: flex;
}
.authentication .hint .spinner {
  margin-right: 8px;
}
.authentication .hint span {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 8px;
}
.authentication .hint .icon-container {
  padding: 4px 0 4px;
}
.authentication .hint .icon-container.check-icon {
  color: #0DAD70;
}
.authentication .hint .icon-container.close-icon {
  color: #eb5757;
}

.input-field {
  margin-bottom: 16px;
}

.authentication .button-container {
  margin-top: 16px;
  display: flex;
  justify-content: right;
}

/* COLORS */
.topnav {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidenav-btn {
  padding: 4px;
  display: inline-block;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color ease-in-out 0.2s;
  cursor: pointer;
}
.sidenav-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidenav-btn:hover .sidenav-btn-icon::before, .sidenav-btn:hover .sidenav-btn-icon::after {
  background-color: rgba(255, 255, 255, 0.8);
}
.sidenav-btn:focus {
  outline: solid 2px #9b51e0;
  outline-offset: 2px;
}
.sidenav-btn .sidenav-btn-icon {
  width: 24px;
  height: 24px;
  position: relative;
}
.sidenav-btn .sidenav-btn-icon::before, .sidenav-btn .sidenav-btn-icon::after {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  width: 16px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  transition: all ease-in-out 0.2s;
}
.sidenav-btn .sidenav-btn-icon::before {
  top: 7px;
  left: 4px;
}
.sidenav-btn .sidenav-btn-icon::after {
  bottom: 7px;
  left: 4px;
}
.sidenav-btn.selected .sidenav-btn-icon::before {
  transform-origin: center;
  transform: translateY(4px) rotate(45deg);
  background-color: rgba(255, 255, 255, 0.8);
}
.sidenav-btn.selected .sidenav-btn-icon::after {
  transform-origin: center;
  transform: translateY(-4px) rotate(-45deg);
  background-color: rgba(255, 255, 255, 0.8);
}

/* COLORS */
.spinner {
  display: block;
}
.spinner.lg {
  width: 50px;
  height: 50px;
}
.spinner.md {
  width: 24px;
  height: 24px;
}
.spinner.sm {
  width: 16px;
  height: 16px;
}
.spinner .spinner-line {
  r: 18px;
  stroke-width: 4px;
  stroke: #9b51e0;
  fill: none;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  animation: expanding 1.4s ease-in-out infinite;
}
.spinner .spinner-group {
  transform-origin: 50% 50%;
  animation: spinning 1.4s linear infinite;
}

@keyframes expanding {
  0%, 100% {
    stroke-dasharray: 6.28px, 106.76px;
  }
  50% {
    stroke-dasharray: 87.92px, 106.76px;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -81.64px;
  }
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
/* COLORS */
/* Font styles */
/* EMPTY STATE */
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.empty-state .empty-state-title {
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 24px;
}
.empty-state .empty-state-desc {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 4px;
}
.empty-state .empty-state-title,
.empty-state .empty-state-desc {
  text-align: center;
}

.tasklist-loader {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

/* COLORS */
/* 404 */
.not-found {
  background-color: #292929;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-container .content-wrapper {
  padding-left: 24px;
}
.not-found-container .content-wrapper h1,
.not-found-container .content-wrapper p {
  margin-bottom: 8px;
}
.not-found-container .content-wrapper .button {
  margin-top: 16px;
}

@media screen and (max-width: 700px) {
  .not-found-container {
    flex-direction: column;
    text-align: center;
  }
  .not-found-container .content-wrapper {
    padding-left: 0px;
  }
  .not-found-container .content-wrapper h1 {
    margin-top: 24px;
  }
}
/* COLORS */
/* Font styles */
.devbar {
  width: 100%;
  height: 36px;
  background-color: #080808;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 18px;
  position: fixed;
  left: 0;
  bottom: 0;
}
.devbar .developer {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);
}
.devbar .developer .dev-position {
  color: rgba(255, 255, 255, 0.4);
}
.devbar .avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.devbar .desc {
  font-size: 14px;
  line-height: 24px;
}
.devbar .btn-group {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.devbar .social-button {
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 8px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
  transition: color ease-in-out 0.2s;
  border-radius: 2px;
}
.devbar .social-button:hover {
  color: rgba(255, 255, 255, 0.8);
}
.devbar .social-button:focus {
  outline: solid 2px #9b51e0;
  outline-offset: 2px;
}

@media screen and (max-width: 700px) {
  .devbar .social-button span {
    display: none;
  }
}
/* COLORS */
/* Font styles */
.home-top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 30px;
}
.home-top-nav .logo-container {
  transition: opacity ease-in-out 0.2s;
  padding: 3px 0;
}
.home-top-nav .logo-container svg {
  display: block;
  width: 129px;
  height: 40px;
}
.home-top-nav .logo-container:hover {
  opacity: 0.8;
}
.home-top-nav .logo-container:focus {
  outline: solid 2px #9b51e0;
  outline-offset: 2px;
  border-radius: 2px;
}
.home-top-nav .btn-group {
  display: flex;
  gap: 8;
}

.home-top-nav-btn {
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.4);
  padding: 8px;
  border-bottom: 2px solid transparent;
  transition: color ease-in-out 0.2s;
}
.home-top-nav-btn:hover {
  color: rgba(255, 255, 255, 0.8);
}
.home-top-nav-btn.active {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.home-top-nav-btn:focus {
  outline: solid 2px #9b51e0;
  outline-offset: 2px;
  border-radius: 2px;
}

/* COLORS */
.home-page main {
  height: 100vh;
  text-align: center;
  overflow: hidden;
  display: block;
  padding-top: 100px;
}
.home-page main .logo {
  width: 250px;
  margin-bottom: 8px;
}
.home-page main .app-desc {
  margin-bottom: 24px;
}
.home-page main img.ui-showcase {
  max-width: 90%;
  border-radius: 6px;
  outline: 1px solid rgba(255, 255, 255, 0.12);
}
.home-page main .btn-group {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 36px;
}

@media screen and (max-width: 700px) {
  .home-page main .btn-group {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .home-page main img.ui-showcase {
    max-width: 85%;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background-color: #292929;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 8px;
}

h1 {
  font-size: 24px;
  line-height: 36px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.line-icon {
  display: block;
  position: relative;
}

.line-icon.icon-md {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}

.line-icon.icon-sm {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

#root {
  height: 100vh;
  background-color: #080808;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  font-size: 16px;
  line-height: 24px;
}

/* TaskList */
.icon-angle {
  width: 16px;
  height: 16px;
  /* background-color: violet; */
}

.icon-angle::before {
  content: "";
  display: block;
  background-color: black;
  width: 9px;
  height: 1px;
  transform: translate(0px, 7px) rotate(45deg);
}

.icon-angle::after {
  content: "";
  display: block;
  background-color: black;
  width: 9px;
  height: 1px;
  transform: translate(7px, 6px) rotate(-45deg);
}

.icon-more {
  width: 16px;
  height: 16px;
}

.icon-more::before,
.icon-more::after,
.icon-more .circle {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 3px;
  height: 3px;
  border-radius: 4px;
  background-color: black;
  border: 1px solid black;
}

.icon-more::before {
  transform: translateY(6px);
}

.icon-more::after {
  transform: translate(12px, 0px);
}

.icon-more .circle {
  transform: translate(6px, 3px);
}

.more {
  padding: 4px;
  position: relative;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 0;
  z-index: 1;
}

.dropdown-button {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 4px 6px;
  border-radius: 2px;
}

.dropdown-button .dropdown-name {
  font-size: 12px;
  line-height: 14px;
}

.projects-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  overflow-y: hidden;
}

.projects-content,
.projects-header {
  width: 100%;
}

.projects-header .tasknav-item .right-icon {
  border-radius: 2px;
}

.projects-header .tasknav-item .right-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.icon-today {
  font-size: 10px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif !important;
  font-weight: bold;
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
}

.refer {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
