@use "../sass-utils/colors";

/* 404 */
.not-found {
    background-color: colors.$prime03;
}
.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .content-wrapper {
        padding-left: 24px;
        h1,
        p {
            margin-bottom: 8px;
        }
        .button {
            margin-top: 16px;
        }
    }
}

@media screen and (max-width: 700px) {
    .not-found-container {
        flex-direction: column;
        text-align: center;
        .content-wrapper {
            padding-left: 0px;
            h1 {
                margin-top: 24px;
            }
        }
    }
}
