@use "../../sass-utils/colors";
@use "../../sass-utils/focus";
/* Hrefless link */

button.hrefless-link,
button.hrefless-link:active {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-size: 16px;
    /*input has OS specific font-family*/
    cursor: pointer;
    color: colors.$active;
    text-align: left
}

button.hrefless-link:focus{
    @include focus.button-focus;
    border-radius: 2px;
}
