@use "./colors";
@use "./fonts";

/* AUTHENTICATION */

.authentication {
    width: 360px;
    padding: 24px;
    background-color: colors.$prime03;
    border-radius: 8px;
    .logo-container {
        margin: 0 auto 12px;
        padding: 4px;
        border-radius: 50%;
        width: 96px;
        height: 96px;
        background-color: colors.$black-30;
        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .input-field:first-child {
        margin-bottom: 8px;
    }
    .hint {
        margin-bottom: 16px;
        display: flex;
        // align-items: center;
        .spinner {
            margin-right: 8px;
        }
        span {
            @include fonts.small-reg;
            color: colors.$white-40;
            margin-left: 8px;
        }
        .icon-container {
            padding: 4px 0 4px;
            &.check-icon {
                color: colors.$success;
            }

            &.close-icon {
                color: colors.$error;
            }
        }
    }
}

.input-field {
    margin-bottom: 16px;
}

.authentication .button-container {
    margin-top: 16px;
    display: flex;
    justify-content: right;
}
