/* COLORS */

$prime01: #080808;
$prime02: #202020;
$prime03: #292929;
$prime04: #3a3a3a;

$white-80: rgba(white, 0.8);
$white-40: rgba(white, 0.4);
$white-20: rgba(white, 0.2);
$white-12: rgba(white, 0.12);
$white-08: rgba(white, 0.08);
$white-04: rgba(white, 0.04);

$black-60: rgba(0, 0, 0, 0.6);
$black-30: rgba(0, 0, 0, 0.3);
$black-12: rgba(0, 0, 0, 0.12);
$black-08: rgba(0, 0, 0, 0.08);
$black-04: rgba(0, 0, 0, 0.04);

$active: #9b51e0;
$active-30: rgba($active, 0.3);

$success: #0DAD70;
$warning: #E8B70E;
$error: #eb5757;
