/* COLORS */

:root {
  --c-light-gray: #f0f0f0;
  --c-black-60: rgba(0, 0, 0, 0.6);
  --c-black-30: rgba(0, 0, 0, 0.3);
  --c-black-12: rgba(0, 0, 0, 0.12);
  --c-black-08: rgba(0, 0, 0, 0.08);
  --c-black-04: rgba(0, 0, 0, 0.04);
  --c-white-70: rgba(255, 255, 255, 0.7);
  --c-white-40: rgba(255, 255, 255, 0.4);
  --c-white-20: rgba(255, 255, 255, 0.2);
  --c-error: #eb5757;
  --c-primary: #000000;
}

$ash01: #080808;
$ash02: #202020;
$ash03: #292929;
$ash04: #3a3a3a;

$white-80: rgba(white, 0.8);
$white-40: rgba(white, 0.4);
$white-20: rgba(white, 0.2);
$white-12: rgba(white, 0.12);
$white-08: rgba(white, 0.08);
$white-04: rgba(white, 0.04);

$active: #9b51e0;
$active-30: rgba($active, 0.3);

$error: #eb5757;
