@font-face {
  font-family: 'lineicons';
  src:  url('../fonts/lineicons.eot?4y4ec3');
  src:  url('../fonts/lineicons.eot?4y4ec3#iefix') format('embedded-opentype'),
    url('../fonts/lineicons.ttf?4y4ec3') format('truetype'),
    url('../fonts/lineicons.woff?4y4ec3') format('woff'),
    url('../fonts/lineicons.svg?4y4ec3#lineicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lineicons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Check-md:before {
  content: "\e91c";
}
.icon-Delete-md:before {
  content: "\e919";
}
.icon-Edit-md:before {
  content: "\e91a";
}
.icon-Nav-md:before {
  content: "\e91b";
}
.icon-Close-md:before {
  content: "\e917";
}
.icon-AngleDown-md:before {
  content: "\e900";
}
.icon-AngleLeft-md:before {
  content: "\e902";
}
.icon-AngleRight-md:before {
  content: "\e904";
}
.icon-AngleUp-md:before {
  content: "\e906";
}
.icon-Calendar-md:before {
  content: "\e908";
}
.icon-Checkbox-md:before {
  content: "\e90a";
}
.icon-Folder-md:before {
  content: "\e90d";
}
.icon-Inbox-md:before {
  content: "\e90f";
}
.icon-More-md:before {
  content: "\e910";
}
.icon-No-md:before {
  content: "\e911";
}
.icon-Plus-md:before {
  content: "\e913";
}
.icon-Today-md:before {
  content: "\e914";
}
.icon-Tomorrow-md:before {
  content: "\e915";
}
.icon-Check-sm:before {
  content: "\e91d";
}
.icon-Close-sm:before {
  content: "\e918";
}
.icon-AngleDown-sm:before {
  content: "\e901";
}
.icon-AngleLeft-sm:before {
  content: "\e903";
}
.icon-AngleRight-sm:before {
  content: "\e905";
}
.icon-AngleUp-sm:before {
  content: "\e907";
}
.icon-Checkbox-sm:before {
  content: "\e90b";
}
.icon-Delete-sm:before {
  content: "\e90c";
}
.icon-Folder-sm:before {
  content: "\e90e";
}
.icon-Inbox-sm:before {
  content: "\e916";
}
.icon-No-sm:before {
  content: "\e912";
}
.icon-Today-sm:before {
  content: "\e909";
}
