@use "./colors";
@use "./fonts";
/* MODAL */

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: var(--c-black-30);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal {
    background-color: colors.$ash03;
    padding: 24px;
    border-radius: 6px;
    width: 100%;
    max-width: 420px;
}

.modal-button-group {
    padding-top: 24px;
    display: flex;
    justify-content: flex-end;

    .button:not(:first-child) {
        margin-left: 12px;
    }
}
