@use "./colors";
@use "./fonts";

/* MODAL */

.modal {
    background-color: colors.$ash03;
    padding: 24px;
    border-radius: 6px;
    width: 100%;
    max-width: 420px;
}

.modal-button-group {
    padding-top: 24px;
    display: flex;
    justify-content: flex-end;

    .button:not(:first-child) {
        margin-left: 12px;
    }
}
