@use "./colors";
@use "./fonts";

/* SIDENAV */

.sidenav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: colors.$prime02;
    min-height: 100%;
    .divider {
        height: 1px;
        width: calc(100% - 16px);
        background-color: colors.$white-12;
        margin: 16px 0;
    }
}

.sidenav-item {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 12px;
    color: colors.$white-40;
    transition: all ease-in-out 0.2s;

    &:hover,
    &.selected,
    &.more-is-open {
        background-color: colors.$black-30;
        color: colors.$white-80;
    }

    .sidenav-desc {
        width: 100%;
        @include fonts.body-reg;
    }

    .sidenav-icon {
        width: 24px;
        height: 24px;
    }

    .sidenav-icon:first-child {
        margin-right: 12px;
    }

    .sidenav-icon:last-child {
        margin-left: 8px;
    }
    .color-display {
        margin-right: 12px;
    }
    .more {
        padding: 0;
        position: relative;
        .more-content {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.sidenav-count {
    @include fonts.xSmall-reg;
    padding-right: 8px;
    color: colors.$white-40;
}

.new-project-btn {
    color: colors.$active;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    .line-icon {
        margin-right: 12px;
    }
    .desc {
        @include fonts.body-reg;
        width: 100%;
    }
    &:hover {
        background-color: colors.$prime01;
    }
}
