@use "./fonts";
@use "./colors";
@use "./scrollbar";
@import "./reset";
@import "./icons";
@import "./SideNav";
@import "./Tasks/Tasks";
@import "./Tasks/AddTaskInput";
@import "./Tasks/EditTask";
@import "./Pickers/DateAndTimePicker";
@import "./BasicUI/ColorDisplay";
@import "./Header";
@import "./BasicUI/CheckBox";
@import "./Accorion";
@import "./BasicUI/Button";
@import "./BasicUI/HreflessLink";
@import "./Pickers/Calendar";
@import "./BasicUI/Menu";
@import "./Pickers/ProjectPicker";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include scrollbar.handsome(colors.$ash03, colors.$white-12);
}

h1{
  @include fonts.h1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.line-icon {
  display: block;
  position: relative;
}

.line-icon.icon-md {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}

.line-icon.icon-sm {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

#root {
  height: 100vh;
  background-color: var(--c-light-gray);
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  font-size: 16px;
  line-height: 24px;
}

/* BASIC LAYOUT */

.topnav {
  background-color: var(--c-primary);
  height: 44px;
}

.taskboard {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
}

.taskboard-container {
  display: flex;
  min-height: calc(100% - 44px);
}

.taskboard-display {
  display: flex;
  justify-content: center;
  width: calc(100% - 300px);
  overflow-y: scroll;
  background-color: colors.$ash03;
  @include scrollbar.handsome(colors.$ash03, colors.$white-12);
}

.taskboard-display-container {
  width: 800px;
}

.taskboard-sidenav {
  width: 300px;
  background-color: var(--c-light-gray);
  overflow-y: scroll;
  @include scrollbar.handsome(colors.$ash02, colors.$white-12);
}

/* TaskList */

.icon-angle {
  width: 16px;
  height: 16px;
  /* background-color: violet; */
}

.icon-angle::before {
  content: "";
  display: block;
  background-color: black;
  width: 9px;
  height: 1px;
  transform: translate(0px, 7px) rotate(45deg);
}

.icon-angle::after {
  content: "";
  display: block;
  background-color: black;
  width: 9px;
  height: 1px;
  transform: translate(7px, 6px) rotate(-45deg);
}

.icon-more {
  width: 16px;
  height: 16px;
}

.icon-more::before,
.icon-more::after,
.icon-more .circle {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 3px;
  height: 3px;
  border-radius: 4px;
  background-color: black;
  border: 1px solid black;
}

.icon-more::before {
  transform: translateY(6px);
}

.icon-more::after {
  transform: translate(12px, 0px);
}

.icon-more .circle {
  transform: translate(6px, 3px);
}

.more {
  padding: 4px;
  position: relative;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 0;
  z-index: 1;
}

.dropdown-button {
  display: flex;
  border: 1px solid var(--c-black-30);
  padding: 4px 6px;
  border-radius: 2px;
}

.dropdown-button .dropdown-name {
  font-size: 12px;
  line-height: 14px;
}

.projects-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  overflow-y: hidden;
}

.projects-content,
.projects-header {
  width: 100%;
}

.projects-header .tasknav-item .right-icon {
  border-radius: 2px;
}

.projects-header .tasknav-item .right-icon:hover {
  background-color: var(--c-white-20);
}

.icon-today {
  font-size: 10px;
  text-align: center;
  font-family: "Space Mono", monospace !important;
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
}

.refer {
  height: 100%;
}

/* MODAL */

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: var(--c-black-30);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  background-color: white;
  padding: 24px;
  border-radius: 2px;
  width: 100%;
  max-width: 420px;
}

.modal-button-group {
  padding-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.modal-button-group .button:not(:first-child) {
  margin-left: 12px;
}

/* INPUT */
/* SELECT */

.input-field label,
.select-label {
  display: block;
  color: var(--c-black-60);
  margin-bottom: 12px;
}

.input-field input,
.select-display {
  display: block;
  width: 100%;
  padding: 12px 12px;
  border: 1px solid var(--c-black-30);
  border-radius: 4px;
}

.input-field label,
.input-field input,
.select-label,
.select-display {
  font-size: 16px;
  line-height: 18px;
}

.select-display {
  display: flex;
  cursor: pointer;
}

.select {
  margin-top: 24px;
  color: black;
}

.select-field {
  position: relative;
}

.select-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.select-display-color .color-display {
  width: 24px;
  height: 18px;
}

/* EMPTY STATE */

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.empty-state-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 8px;
}

.empty-state-desc {
  line-height: 24px;
  margin-top: 8px;
}

.empty-state-title,
.empty-state-desc {
  text-align: center;
}

/* AUTHENTICATION */

.authentication {
  width: 360px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
}

.input-field {
  margin-bottom: 16px;
}

.authentication .button-container {
  margin-top: 16px;
  display: flex;
  justify-content: right;
}
